<html ng-app="myApp">
	<body ng-controller = "mainController">
		Find a Person: <input ng-model="filterPredicate"/>
		Filter by Date: <input ng-model="datePredicate"/>

<div ng-repeat="person in people | filter: {name: filterPredicate, dateEmployed: datePredicate}">
	<h3>{{person.name}}</h3>
	<p>Email: {{person.email}}</p>
	<p>Date Employed: {{person.dateEmployed}}</p>
	<p>Phone Number: {{person.phone}}</p>
</div>

				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>
